Source: niri
Section: x11
Priority: optional
Maintainer: Prakhar <70601302+praksharma@users.noreply.github.com>
Build-Depends: debhelper-compat (= 13),
               cargo-1.80,
               rustc-1.80,
               pkg-config,
               clang,
               libudev-dev,
               libwayland-dev,
               libseat-dev,
               libglib2.0-dev,
               libclang-dev,
               libpipewire-0.3-dev,
               libcairo2-dev,
               libpango1.0-dev,
               libdisplay-info-dev,
               libinput-dev,
               libgbm-dev,
               libxkbcommon-dev,
               libdbus-1-dev,
               libsystemd-dev,
               libegl1-mesa-dev
Standards-Version: 4.6.2
Homepage: https://github.com/YaLTeR/niri
Vcs-Browser: https://github.com/praksharma/niri-ubuntu
Vcs-Git: https://github.com/praksharma/niri-ubuntu.git

Package: niri
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libdisplay-info1,
         libseat1
Recommends: alacritty,
            fuzzel,
            gnome-keyring,
            policykit-1-gnome,
            xdg-desktop-portal-gnome,
            xdg-desktop-portal-gtk
Suggests: xwayland-satellite
Conflicts: niri-git
Description: scrollable-tiling Wayland compositor
 Niri arranges windows in columns on an infinite horizontal strip. Opening a
 new window does not resize existing windows, and each monitor has its own
 independent set of dynamic workspaces.
